.theme-toggle {
    position: relative;
    display: flex;
    align-items: center;

    .theme-switch {
        .slider {
            background: linear-gradient(45deg, #2d1b69, #11101d);

            &::before {
                content: '';
                background-image: url('@/assets/icons/moon.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent
            }

        }

        input:checked+.slider {
            background: linear-gradient(45deg, #ffd700, #ff6b35);

            &::before {
                content: '';
                background-image: url('@/assets/icons/sun.svg');
                background-size: 24px 24px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent
            }
        }
    }
}