#timer-menu {
    background-color: var(--color-brand-primary);
    border-radius: 10px;
    font-size: 17px;
    line-height: 1px;

    .set {
        padding: 0px 20px;
        width: fit-content;
        margin: 10px;
        border-radius: 20px;
        user-select: none;
        background-color: var(--color-surface);
        border: 3px solid transparent; 
        transition: all 0.2s ease;


        &:hover {
            background-color: var(--color-surface-hover);
        }
        &.selected {
            border: 3px solid var(--color-border-hover);
        }
    }
}