/* Dark Theme Colors */
$darkgray: #242424;
$smooth-white: rgba(255, 255, 255, 0.87);

/*Light Theme Colors*/
$white: #ffffff;
$bluegray: #213547;

/* Common Colors */
$red-logo-color: #F23B3B;
$orange-logo-color: #FC9B00;
$background-logo-color: #111827;

