// Widths
$standard-width: 1500px;
$large-width: 1200px;
$middle-width: 670px;
$small-width: 445px;
$tiny-width: 390px;

// Heights
$standard-height: 800px;
$middle-height: 600px;
$small-height: 500px;
$tiny-height: 370px;
