#timers {
    margin: auto;
    margin-top: 5%;
    width: 500px;

    #timers-content {
        display: flex;
        width: calc(100% + 75px); //toolbar width
        flex-direction: row;
        gap: 10px;
        margin-top: 5px;
        align-items: center;

        #timers-list-placeholder {
            width: 50px;
        }

        #timers-toolbar {
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 50px;
            height: 300px;
            padding: 10px;
            background-color: var(--color-surface-hover);
            border-radius: 20px;
            z-index: 2;
            align-items: center;
            justify-content: center;

            button {
                width: 45px;
                height: 45px;
                border-width: 3px;
            }
        }


    }
}

#no-timers-message-container {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    .no-timers-message {
        text-align: center;
        text-wrap: nowrap;

        &.clickable {
            animation: blink 2s infinite;

            &:hover {
                cursor: pointer;
                animation: none;
            }
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    #timers {
        width: 300px;
    }
}