@use "@/styles/variables" as *;

.delete-timer-set-modal {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .dm-buttons {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;

        button {
            border-width: 2px;
        }

        .delete {
            color: white;
            background-color: var(--color-error);

            &:hover {
                background-color: var(--color-error-hover);
                filter: drop-shadow(0 0 3px var(--color-error-hover));
            }
        }
    }

    @media screen and (max-width: $small-width) {
        .dm-title{
            margin-top: 25px;
        }
    }
}